//COLORS

$color-primary: #36e26fd7;
$color-primary-light: #4ce931c4;
$color-primary-dark: #13c58ac0;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


$color-white: #fff;
$color-black: #000;

//font-sizes
$default-font-size: 1.2rem;

//shadow
$shadow-color: #00000033;

//GRID
$grid-width: 114rem;
$gather-vertical: 5rem;
$gather-vertical-small: 3.5rem;
$gather-horizontal: 3rem;
