.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb($color-black, 0.8);
  backdrop-filter: blur(3px);
  z-index: 50;
  visibility: hidden;
  transition: visibility 0.4s;

  // Open State

  &:target {
    visibility: visible;
  }

  &:target &-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &-content {
    @include absCenter;
    display: table;
    width: 75%;
    background: $color-white;
    border-radius: 5px; 
    overflow: hidden;
    box-shadow: 0 2rem 4rem $shadow-color;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    transition: 0.4s 0.2s;

    @include respond(tab-land) {
     display: block;
    }
  }

  &-left {
    width: 33%;
    display: table-cell;

    @include respond(tab-land) {
      width: 100%;
    }
  }

  &-image {
    display: block;
    width: 100%;

    @include respond(tab-land) {
      width: 50%;
      display: inline-block;
      float: right;
    }
  }

  &-right {
    width: 67%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-land) {
      display: block;
      width: 100%;
      padding: 2rem;
    } 
  }

  // popup close buuton

  &-close {
    &:link,
    &:visited {
      display: inline-block;
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      line-height: 1;
      text-decoration: none;
      transition: color 0.3s;

      @include respond(tab-land) {
        font-size: 6rem;
      }
    }

    &:hover {
      color: $color-primary;
    }
  }

  &-text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    // for mozilla firefox Browser

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-light-grey-2;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-light-grey-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
